/* Glassmorphic Dark Navbar */
.navbar-custom {
  background-color: white;
}

/* Brand glow effect */
.glow-text {
  font-weight: bold;
  color: #f4a261;
  font-size: 1.5rem;
  
}

.nav-item > button:hover{
color: #f4a261 !important;
}


/* Mobile nav toggle */
.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.4);
  filter: invert(1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,0.9%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
